<div class="flex-container width-100">
    <div class="width-25"></div>
    <div class="flex-container flex-column">
        <div class="margin-bottom-30">
            <h2>Edit Contract Template</h2>
        </div>
        <form #editObject="ngForm" (ngSubmit)="save()">
            <div>
                <label for="name" class="label-margin">Name</label>
                <input type="text" pInputText [(ngModel)]="item.name" name="name" class="form-control" placeholder="Enter Name" required >
            </div>
            <div>
                <label class="label-margin">Template</label>
                <p-editor [(ngModel)]="item.template" name="template"></p-editor>
            </div>
            <div>
                Substitution Fields:
                <ul>
                    <li>__CURRENT_DAY__</li>
                    <li>__CURRENT_MONTH__</li>
                    <li>__CURRENT_YEAR__</li>
                    <li>__CUSTOMER_NAME__</li>
                    <li>__CUSTOMER_ADDRESS__</li>
                    <li>__CUSTOMER_ADDRESS1__</li>
                    <li>__CUSTOMER_ADDRESS2__</li>
                    <li>__CUSTOMER_EMAIL__</li>
                    <li>__CUSTOMER_PHONE__</li>
                    <li>__CUSTOMER_SIGNED_DATE__</li>
                    <li>__BOAT_INSURANCE_COMPANY__</li>
                    <li>__BOAT_INSURANCE_POICLY_NUMBER__</li>
                    <li>__BOAT_NAME__</li>
                    <li>__BOAT_STATE_VESSEL_ID_NUMBER__</li>
                    <li>__BOAT_MAKE__</li>
                    <li>__BOAT_HULL_ID__</li>
                    <li>__BOAT_OUTBOARD_MAKE__</li>
                    <li>__BOAT_OUTBOARD_ID__</li>
                    <li>__TERM_START_DATE__</li>
                    <li>__TERM_END_DATE__</li>
                    <li>__TERM_BEGIN_DATE__</li>
                    <li>__CONTRACT_TABLE__</li>
                    <li>__LIVEABOARD_TABLE__</li>
                    <li>__LIVEABOARD_COST__</li>
                    <li>__LIVEABOARD_MAXPERSON__</li>
                    <li>__LIEN_HOLDER_NAME__</li>
                    <li>__LIEN_HOLDER_PHONE__</li>
                </ul>
            </div>
            <div>
                <button type="submit" class="primary margin-top-10">Save</button>
            </div>
        </form>
        
    </div>
    <div class="width-25"></div>
</div>